<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} My Site {% endblock %}</title>
  </head>
  <body>
    <nav class="navbar">
      <a href="/home">Home</a>
      {% if user.is_authenticated == False %}
        <a href="accounts/login">Login</a>
        <a href="accounts/signup">Register</a>
      {% else %}
        <a href="accounts/logout">Logout</a>
      {% endif %}
    </nav>

    {% if user.is_authenticated %}
      {% if user.first_name %}
      <div>Hi {{ user.first_name }}!</div>
      {% else %}
      <div>Hi {{ user.username }}!</div>
      {% endif %}
    {% endif %}
    <div class="container">{% block content %} {% endblock %}</div>
  </body>
</html>
